body {
background: none repeat-x scroll 0 0 white;
font-family:'Helvetica','Trebuchet MS','sans-serif';
}

#logo {height : 3em;float:right;}

div.config-file-error {width:60%;margin : 0 auto;background-color:orange;color:white;padding: 1em 2em;text-align:center;}

div.header {width : 60%; padding:1em; background-color:orange;font-weight:bold;text-align:center;margin:0 auto;}

/****** PROJECT TABLE *****/

#projects-table {border-collapse: collapse;}
#projects-table td.blank {background-color:transparent;}
#projects_wrapper {width:100%;}

#projects-table tr.task.done.hide {display:none;}
#projects-table tr.task.done:nth-of-type(even){background-color : #f2f2f2;}
#projects-table tr.task.done:nth-of-type(odd){background-color : #f2f2f2;}
#projects-table tr.task.done:nth-of-type(even) td.taskname{text-decoration: line-through;color:grey;}
#projects-table tr.task.done:nth-of-type(odd) td.taskname{text-decoration: line-through;color:grey;}


#projects-table tr.task td.actions {font-size:1em;}
#projects-table tr.task td {font-size:0.7em;}
#projects-table td.notcritical {font-weight:normal;color:grey;}
#projects-table td.critical {font-weight:bold;}
#projects-table td span.commentnotification.circled.active {background-color:orange;}
#projects-table td span.commentnotification {background-color:grey;}
#projects-table span.masterplan {background-color:green;}
#projects-table span.dpi {background-color:green;}
#projects-table td.deadline.nodeadline {}
#projects-table td.deadline.exceeded {color: #cc3300;}
#projects-table .discret1 {font-size:0.7em;color:grey;}
#projects-table .discret2 {color:grey;}
#projects-table .finished {font-size:0.7em;background-color:#62cc1b;color:#747474;}
#projects-table .green1 {font-size:0.7em;color:green;}


#projects-table tr td input.deadlinepicker {
	border: 0px solid transparent;
	background-color: transparent;
	text-align: center;}

#projects-table tr td input.manager,#projects-table tr td input.team{
	margin: 0 auto;
}

.updatereminder.circled {color:red;}
.circled.critical {background:#6060ff;color:white;}
.circled.comment {background:#ffe99d;color:grey;}
/*.circled.notcritical {background:#d4d4d4; color:#a8a8a8;}*/
.circled.done {background:green;}
.circled-wrapper {font-size:0.7em;color:blue;}
.circled {
	background: #cccccc;
	border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	line-height: 1.6em;
	margin-right: 5px;
	text-align: center;
	width: 1.6em;
	text-decoration:none;
	}

#projects-table {margin : 0 auto;font-size:0.9em;}

#projects-table td{
	padding : 0.5em 1em;
	text-align:center;
}

#projects-table th{
	color:white;
	background-color : grey;
	padding : 0.5em 1em;
	text-align:center;
}

#projects-table th span.header-light
{
color:#c3c3c3;
font-size:0.7em;
}

#projects-table tr.project {border-top:1px solid #eee;}

#projects-table tr.project td.nextstep.error {border-radius : 1em;background-color:#f1c6c6;/*color:white;*/}
#projects-table tr.project td.nextstep.warning {border-radius : 1em;background-color:#faf2b4;/*color:white;*/}
#projects-table tr.project td.nextstep.ok {/*border : 0.5em solid #71ab00;*/ border-radius : 1em;background-color:#e2f1c6;/*color:white;*/}

/* Extra tools */

.datechangerdate {
	color : #5b5b5b;
	padding: 5px 8px;
	text-align:center;
	border: 1px solid #afafaf;
	box-shadow: none;
	background: transparent;
	background-image: none;
	-webkit-appearance: none;
	width : 7em;
	font-size: 1.2em;
	float: right;
}

.datechangeroption {
	color : #5b5b5b;
	padding: 5px 8px;
	text-align:center;
	border: 1px solid #afafaf;
	box-shadow: none;
	background: transparent;
	background-image: none;
	-webkit-appearance: none;
	font-size: 1em;
}


/*** EXTRA TOOLS ****/

/**** Progress bar ******/
.progress-wrapper {
  /*display:block;*/
  width: 100%;
  /*background-color: grey;*/
}

.white {
	color:white;
}

.progress-wrapper .bar-container .barinfo {
	font-size:0.8em;
	color:grey;
}

.progress-wrapper .bar-container .bar.white {
	color:white;
}
.progress-wrapper .bar-container .bar {
  /*display:block;*/
  width: 1%;
  height: 1em;
  background-color: #238837;
  float:left;
}

.progress-wrapper .bar-container {
	width : 100%;
	border:1px solid #acacac;
	height: 1em;
}

.progress-wrapper .value {
  /*display:block;*/
  width: 100%;
  height: 1.5em;
  clear:both;
  color:grey;
  font-size:0.7em;
}

/**** SELECT box ****/

td select.ppriority,td select.tpriority {
	color : #5b5b5b;
	padding: 5px 8px;
	text-align:center;
	border: 1px solid #afafaf;
	box-shadow: none;
	background: transparent;
	background-image: none;
	-webkit-appearance: none;
}

td select.ppriority:focus,td select.tpriority {
	outline: none;
}

/**************/
/* MAIN MENU */
/**************/
#mainmenu {
    background-color: #333;
	width:100%;
	height:3em;
}

#mainmenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float:left;
}

#mainmenu li {
    float: left;
}

#mainmenu li a,#mainmenu  .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#mainmenu li a:hover,#mainmenu  .dropdown:hover .dropbtn {
    background-color: red;
}

#mainmenu li.dropdown {
    display: inline-block;
}

#mainmenu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#mainmenu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#mainmenu .dropdown-content a:hover {background-color: #f1f1f1}

#mainmenu .dropdown:hover .dropdown-content {
    display: block;
}

/**************/
/* / MAIN MENU */
/**************/


/*********************/
/* Loading indicator */
/*********************/
#loading-indicator {
	background: #e9e9e9; 
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.5;
}

.loading-icon {
	position : absolute;
	top : 47%;
	left : 47%;
	height: 4em;
	width : 4em;
}

/*********************/
/* Creation forms ****/
/*********************/

#createproject {
	padding: 0.5em 1em;
	border: 1.5px solid gainsboro;
	color: white;
	background-color: darkblue;
}
#createprojecttemplate {
	padding: 0.5em 1em;
	border: 1.5px solid gainsboro;
	color: white;
	background-color: #8b006f;
}
.createtask {
	padding: 0.5em 1em;
	border: 1.5px solid gainsboro;
	color: white;
	background-color: burlywood;
}

/*********************/
/* Login form     ****/
/*********************/

.form-signin {width:15em;margin : 0 auto;}
.form-control {
  padding: 10px;
  font-size: 16px;
  width:15em;
  padding: 0.5em;
  margin: 0 auto;
  margin-bottom: 1em;

}

/*********************/
/* Adress book     ****/
/*********************/

.ui-autocomplete .ui-menu-item {
  background:white;
}
.ui-autocomplete .ui-state-focus {
    background:#ccc; //Change blue color to your favourite shade
    color:white;
}
.ui-menu .ui-menu-item a, .ui-menu .ui-menu-item a:hover{
    color:black;
}

